.about__wrapper p {
  font-weight: 400;
  margin: 0;
  padding: 20px 0 30px;

  @media (min-width: $width-tablet) {
    font-size: 16px;
    width: 498px;
    padding: 30px 0 40px;
  }

  @media (min-width: $width-desktop) {
    line-height: 26px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding: 26px 0 50px;
  }
}

.about__title + p {
  font-size: 16px;
  line-height: 22px;
  padding: 15px 0 40px;

  @media (min-width: $width-tablet) {
    width: 638px;
    font-size: 20px;
    line-height: 26px;
    padding-top: 30px;
  }

  @media (min-width: $width-desktop) {
    width: 702px;
    font-size: 22px;
    line-height: 32px;
    grid-column: 1 / 2;
  }
}

h3  {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: $color-blue;

  @media (min-width: $width-tablet) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $width-desktop) {
    font-size: 32px;
    line-height: 36px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
}

.about__wrapper {
  @media (min-width: $width-desktop) {
    padding-top: 10px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }
}

.about__button {
  @media (min-width: $width-desktop) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    width: fit-content;
  }
}

.about__advantages {
  margin-top: 40px;

  @media (min-width: $width-tablet) {
    margin-top: 60px;
  }
}
