.advantages {
  padding: 42px 20px 40px;
  background-color: $color-blue;
  border-radius: 20px;

  @media (min-width: $width-tablet) {
    padding: 72px 50px 50px 70px;
  }

  @media (min-width: $width-desktop) {
    padding: 72px 100px 50px 120px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $width-tablet) {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 54px 52px;
  }
}

.advantages__item {
  position: relative;
  padding: 15px 20px;
  border: 1px solid $color-white;
  border-radius: 16px;

  &::before {
    content: "";
    position: absolute;
    top: -23px;
    left: -21px;
    width: 42px;
    height: 42px;
    background-color: $color-blue;
    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
    background-size: 18px 22px;
    background-position: center;
  }

  @media (min-width: $width-tablet) {
    width: 253px;
    min-height: 171px;
    padding: 16px 20px 15px;
  }

  @media (min-width: $width-desktop) {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 484px;
    min-height: auto;
    padding: 30px 40px;
  }
}

.advantages__item h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $color-white;
  letter-spacing: 0.16px;
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    width: 150px;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.2px;
  }

  @media (min-width: $width-desktop) {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.26px;
    width: 171px;
  }
}

.advantages__item p {
  margin: 0;
  padding-top: 15px;
  color: #f0efe9;

  @media (min-width: $width-tablet) {
    max-width: 211px;
    font-size: 16px;
    padding-top: 14px;
  }

  @media (min-width: $width-desktop) {
    max-width: 200px;
    padding-top: 0;
  }
}
