.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 290px;
  gap: 20px;
  padding: 4px 4px 4px 20px;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-blue;
  background-color: transparent;
  border: 1px solid $color-blue;
  border-radius: 30px;
  cursor: pointer;

  &:hover {
    background-color: $color-blue;
    color: $color-white;
  }

  &:active {
    background-color: $color-blue;
    color: rgba(255, 255, 255, 0.7);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    border-color: $color-grey;
    color: $color-grey;
    pointer-events: none;
  }

  @media (min-width: $width-tablet) {
    padding-left: 30px;
    gap: 31px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
  }
}

.button--light {
  border-color: $color-white;
  color: $color-white;

  &:hover {
    background-color: $color-white;
    color: $color-blue;
  }

  &:active {
    background-color: $color-white;
    color: rgba(49, 109, 194, 0.7);
  }

  &:focus {
    outline: none;
  }
}

.button:hover .button__icon-wrapper,
.button:active .button__icon-wrapper {
  background-color: $color-white;
}

.button:disabled .button__icon-wrapper {
  background-color: $color-grey;
}

.button:hover .button__icon {
  stroke: $color-blue;
  transform: rotate(45deg);
}

.button:active .button__icon {
  stroke: $color-blue;
  transform: rotate(45deg);
  opacity: 0.7;
}

.button:focus .button__icon {
  transform: rotate(45deg);
}

.button--light:hover .button__icon-wrapper,
.button--light:active .button__icon-wrapper {
  background-color: $color-blue;
}

.button--light:hover .button__icon {
  stroke: $color-white;
}

.button--light:active .button__icon {
  stroke: $color-white;
}

.button__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  min-width: 34px;
  height: 34px;
  border-radius: 44px;
  background-color: $color-blue;

  @media (min-width: $width-tablet) {
    width: 46px;
    min-width: 46px;
    height: 46px;
  }
}

.button--light .button__icon-wrapper {
  background-color: $color-white;
}

.button__icon {
  stroke: $color-white;
}

.button--light .button__icon {
  stroke: $color-blue;
}
