.contacts {
  background-color: $color-blue;
}

.contacts__wrapper {
  padding-top: 70px;
  padding-bottom: 70px;

  @media (min-width: $width-tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 120px;
    padding-bottom: 120px;
    display: grid;
    grid-template-columns: auto auto;

  }
}

.contacts__list {
  margin: 0;
  padding: 30px 0 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px;
  list-style: none;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }

  @media (min-width: $width-desktop) {
    width: 604px;
    padding: 0 0 35px;
    margin-left: auto;
  }
}

.contacts__item {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (min-width: $width-tablet) {
    gap: 24px;
  }

  @media (min-width: $width-tablet) {
    max-width: 263px;
  }
}

.contacts__subtitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  color: $color-background;
  opacity: 0.8;
}

.contacts__description {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: $color-white;
  text-decoration: none;
  text-transform: none;
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
}

.contacts__description[href]:hover {
  opacity: 0.7;
}

.contacts__description[href]:focus {
  padding-bottom: 5px;
  border-color: $color-primary;
  color: $color-primary;
  outline: none;
}

.contacts__description[href]:active {
  padding-bottom: 5px;
  border-color: $color-white;
  color: $color-white;
  outline: none;
  opacity: 1;
}

.contacts__map {
  padding-top: 30px;
  border-top: 2px solid rgb(255, 255, 255, 0.2);

  @media (min-width: $width-desktop) {
    padding-top: 40px;
    grid-column: 1 / -1;
  }
}

.contacts__image {
  display: block;
}
