.faq {
  @media (min-width: $width-desktop) {
    padding-left: 206px;
    padding-right: 206px;
    padding-top: 71px;
  }
}

.faq__title {
  text-align: center;
}

.faq__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 30px;

  @media (min-width: $width-tablet) {
    padding-top: 40px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 71px;
  }
}

.faq__content {
  padding: 20px 15px;
  border: 2px solid $color-blue;
  border-radius: 14px;

  &:hover {
    background-color: $color-white;
  }

  &:active {
    background-color: $color-white;
  }

  @media (min-width: $width-tablet) {
    padding: 30px;
    border-radius: 16px;
  }

  @media (min-width: $width-desktop) {
    padding: 40px;
  }
}

.faq__content--open {
  background-color: $color-blue;

  &:hover {
    background-color: $color-blue;
  }

  &:active {
    background-color: $color-dark-blue;
  }

  @media (min-width: $width-desktop) {
    padding-right: 36px;
  }
}

.faq__content:active .faq__content-title {
  color: $color-dark-blue;
}

.faq__content-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  width: 190px;

  @media (min-width: $width-tablet) {
    font-size: 22px;
    line-height: 26px;
    width: 480px;
  }

  @media (min-width: $width-desktop) {
    font-size: 28px;
    line-height: 34px;
    width: 785px;
  }
}

.faq__content-title br {
  display: none;

  @media (min-width: $width-tablet) and (width <= 1439px) {
    display: inline;
  }
}

.faq__content--open .faq__content-title {
  color: $color-white;
}

.faq__content--open:active .faq__content-title {
  color: $color-white;
}

.faq__visible {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq__hidden {
  height: 0;
  padding-top: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.faq__content--open .faq__hidden {
  height: auto;
  padding-top: 20px;
}

.faq__hidden p {
  font-weight: 400;
  margin: 0;
  color: $color-background;

  @media (min-width: $width-tablet) {
    font-size: 16px;
  }

  @media (min-width: $width-desktop) {
    line-height: 26px;
    width: 914px;
  }
}

.faq__control {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: $color-blue;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 2px;
    background-color: $color-white;
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 18px;
    background-color: $color-white;
  }

  @media (min-width: $width-tablet) {
    align-self: flex-start;
  }
}

.faq__content--open .faq__control {
  background-color: $color-white;

  &::after {
    background-color: $color-blue;
  }

  &::before {
    content: none;
  }
}

.faq__content--open .faq__control:hover,
.faq__content--open .faq__control:focus {
  background-color: transparent;
  border-color: $color-white;
  outline: none;

  &::after {
    background-color: $color-white;
  }
}

.faq__content--open:active .faq__control,
.faq__content--open .faq__control:active {
  background-color: $color-white;
  border-color: $color-white;

  &::after {
    background-color: $color-dark-blue;
  }
}

.faq__content:hover .faq__control,
.faq__control:hover,
.faq__control:focus {
  border-color: $color-blue;
  background-color: transparent;
  outline: none;

  &::after,
  &::before {
    background-color: $color-blue;
  }
}

.faq__content--open:hover .faq__control {
  background-color: transparent;
  border-color: $color-white;
  outline: none;

  &::after {
    background-color: $color-white;
  }
}

.faq__control:active {
  background-color: $color-dark-blue;

  &::after,
  &::before {
    background-color: $color-white;
  }
}

.faq__control:disabled {
  background-color: $color-grey;

  &::after,
  &::before {
    opacity: 0.6;
  }
}

.faq__content:has(>.faq__visible>.faq__control:focus) {
  background-color: $color-white;
}

.faq__content--open:has(>.faq__visible>.faq__control:focus) {
  background-color: $color-blue;
}
