.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 40px;
  padding-top: 40px;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
  }

  @media (min-width: $width-desktop) {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 100px;
    padding-top: 60px;
    padding-top: 60px;
  }
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding-top: 5px;

  @media (min-width: $width-tablet) {
    padding: 0;
    align-items: flex-start;
  }

  @media (min-width: $width-desktop) {
    flex-direction: row-reverse;
    justify-content: space-between;
    grid-column: 1 / -1;
  }
}

.footer__copyright-link {
  width: fit-content;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-decoration: none;
  padding-bottom: 2px;
  color: $color-primary;
  border-bottom: 1px solid $color-primary;

  &:hover {
    color: $color-blue;
    border-color: $color-blue;
    opacity: 0.7;
  }

  &:focus {
    color: $color-blue;
    border-color: $color-blue;
    outline: none;
  }

  &:active {
    color: $color-dark-blue;
    border-color: $color-dark-blue;
    opacity: 1;
  }

  @media (min-width: $width-tablet) {
    line-height: 12px;
  }

  @media (min-width: $width-desktop) {
    font-size: 14px;
    line-height: 18px;
  }
}

.footer__copyright-item {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  opacity: 0.6;

  @media (min-width: $width-tablet) {
    line-height: 12px;
  }

  @media (min-width: $width-desktop) {
    font-size: 14px;
    line-height: 18px;
    opacity: 1;
  }
}

.footer__socials {
  @media (min-width: $width-desktop) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}
