.form {
  padding: 15px;
  background-color: $color-blue;
  border-radius: 16px;
  width: 300px;
  margin: 0 auto;

  &--light {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 15px;
    background-color: $color-white;
    width: 290px;
  }

  @media (min-width: $width-tablet) {
    width: 442px;
    padding: 30px 40px;
    margin: 0;

    &--light {
      padding: 60px 80px;
      width: 510px;
    }
  }

  @media (min-width: $width-desktop) {
    width: 490px;
    padding: 30px 70px;

    &--light {
      padding: 60px 80px;
      width: 510px;
    }
  }
}

.form__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: $color-white;
  padding-bottom: 10px;
  margin: 0;

  @media (min-width: $width-tablet) {
    font-size: 28px;
    line-height: 28px;
    padding: 11px 0 31px;
  }

  @media (min-width: $width-desktop) {
    font-size: 32px;
    line-height: 36px;
    padding: 14px 0 34px;
  }
}

.form--light .form__title {
  color: $color-blue;
  line-height: 18px;
  padding-bottom: 15px;
  text-align: center;

  @media (min-width: $width-tablet) {
    padding: 0 0 20px;
    line-height: 28px;
  }

  @media (min-width: $width-desktop) {
    line-height: 36px;
  }
}

.form__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $color-background;
  margin: 0;

  @media (min-width: $width-tablet) {
    font-size: 16px;
  }

  @media (min-width: $width-desktop) {
    line-height: 26px;
  }
}

.form--light .form__description  {
  color: $color-primary;
  text-align: center;
}

.form__list {
  margin: 0;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;

  @media (min-width: $width-tablet) {
    padding: 40px 0;
  }
}

.form--light .form__list {
  padding: 25px 0;
  gap: 15px;

  @media (min-width: $width-tablet) {
    padding: 30px 0;
    gap: 20px;
  }
}

.form__label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &--checkbox {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
}

.form--light .form__label {
  gap: 8px;

  @media (min-width: $width-tablet) {
    gap: 12px;
  }
}

.form__button {
  width: 260px;
  padding: 5px 5px 5px 31px;

  @media (min-width: $width-tablet) {
    width: 352px;
  }

  @media (min-width: $width-desktop) {
    width: 350px;
  }
}

.form--light .form__button {
  padding: 4px 4px 4px 30px;

  @media (min-width: $width-tablet) {
    width: 194px;
    margin: 0 auto;
  }
}

.form__button-description {
  width: 170px;

  @media (min-width: $width-tablet) {
    width: 240px;
  }

  @media (min-width: $width-desktop) {
    width: 238px;
  }
}

.form--light .form__button-description  {
  @media (min-width: $width-tablet) {
    width: fit-content;
  }
}

.form__subtitle {
  max-width: 240px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: $color-background;
  opacity: 0.8;

  @media (min-width: $width-tablet) {
    font-size: 14px;
    line-height: 20px;
    max-width: 100%;
  }

  @media (min-width: $width-desktop) {
    line-height: 18px;
  }
}

.form--light .form__subtitle {
  color: $color-primary;
  max-width: 230px;

  @media (min-width: $width-tablet) {
    max-width: 100%;
  }
}

.form__label--checkbox .form__subtitle {
  @media (min-width: $width-tablet) {
    font-size: 12px;
    line-height: 12px;
  }
}

.form__label:has(>.form__input:hover) .form__subtitle,
.form__label:has(>.form__input:focus) .form__subtitle,
.form__label:has(>.form__input:active).form__subtitle {
  opacity: 1;
}

.form__input {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 1px solid rgb(255, 255, 255,0.3);
  background-color: transparent;
  padding: 16px 25px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: $color-background;

  &--textarea {
    height: auto;
    min-height: 94px;
  }

  &--city {
    padding: 16px 20px;
    cursor: pointer;
  }
}

.form__input--textarea {
  @media (min-width: $width-tablet) {
    min-height: 88px;
  }

  @media (min-width: $width-desktop) {
    min-height: 90px;
  }
}

.form--light .form__input {
  border-color: rgba(72, 72, 72, 0.3);
  color: $color-primary;
}

.form__input--validate:invalid {
  border-color: $color-error;
  background-color: rgba(255, 94, 102, 0.20);
}

.form__input:hover,
.form__input:focus,
.form__input:active {
  border-color: $color-white;
  outline: none;
}

.form--light .form__input:hover,
.form--light .form__input:focus,
.form--light .form__input:active {
  border-color: $color-primary;
}

.form__input:disabled {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.4);
}

.form--light .form__input:disabled {
  background-color: rgba(169, 175, 183, 0.20);
  border-color: rgba(169, 175, 183, 0.50);
}

.form__label:has(>.form__input:disabled) .form__subtitle{
  opacity: 0.8;
}

.form--light .form__label:has(>.form__input:disabled) .form__subtitle{
  opacity: 0.6;
}

.form__label:has(>.form__input:disabled) {
  pointer-events: none;
}

.form__item {
  position: relative;
}

.form__dropdown {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  transform: translateY(100%);
  margin: 0;
  padding: 0;
  height: 0;
  background-color: $color-white;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  max-height: 250px;
  overflow-y: auto;
}

.form--light .form__dropdown-list {
  border: 1px solid $color-primary;
  border-radius: 8px;
  padding: 0;
  max-height: 255px;
}

.form__dropdown-list {
  margin: 0;
  padding: 1px;
  list-style: none;
}

.form__dropdown-item {
  padding: 17px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: $color-primary;
  pointer-events: none;
  cursor: pointer;

  &:nth-child(1) {
    border-radius: 8px 8px 0 0 ;
  }

  &:last-child {
    border-radius: 0 0 8px 8px;
  }

  &:hover {
    color: $color-blue;
  }

  &--activ,
  &:focus,
  &:active {
    background-color: $color-blue;
    color: $color-white;
    outline: none;
  }
}

.form__item--open-dropdown .form__dropdown-item {
  pointer-events: all;
}

.form__input-icon {
  stroke: $color-white;
  position: absolute;
  right: 21px;
  bottom: 16px;
}

.form--light .form__input-icon  {
  stroke: $color-primary;
}

.form__item--open-dropdown .form__input-icon{
  transform: rotate(180deg);
}

.form__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid $color-background;
  opacity: 0.7;
  stroke: transparent;

  &--light {
    background-color: $color-blue;
    border-color: transparent;
    opacity: 1;
  }
}

.form__input[type="checkbox"] {
  width: 0;
}

.form__input[type="checkbox"]:checked + .form__checkbox {
  background-color: $color-white;
  border-color: transparent;
  stroke: $color-blue;
  opacity: 1;

  &--light {
    stroke: $color-white;
    background-color: $color-blue;
  }
}


.form__input[type="checkbox"]:checked:hover + .form__checkbox,
.form__input[type="checkbox"]:checked:focus + .form__checkbox {
  background-color: transparent;
  border: 1px solid $color-white;
  stroke: $color-white;
  outline: none;

  &--light {
    border-color: $color-blue;
    stroke: $color-blue;
  }
}

.form__input[type="checkbox"]:checked:disabled + .form__checkbox {
  background-color: $color-grey;
  stroke: rgba(255, 255, 255, 0.7);
}

.form__input[type="checkbox"]:hover + .form__checkbox,
.form__input[type="checkbox"]:focus + .form__checkbox {
  background-color: transparent;
  border: 1px solid $color-white;
  outline: none;
  opacity: 1;

  &--light {
    border-color: $color-blue;
  }
}

.form__input[type="checkbox"]:disabled + .form__checkbox {
  border-color: $color-white;
  background-color: rgba(255, 255, 255, 0.60);
}

.form__input--validate:invalid + .form__checkbox {
  border-color: rgba(255, 94, 102, 0.70);
  background-color: rgba(255, 94, 102, 0.20);
}
