.form-section {
  padding: 40px 0;
  margin: 0 auto;

  @media (min-width: $width-tablet) {
    max-width: $width-tablet;
    padding: 50px 71px 50px 45px;
  }

  @media (min-width: $width-desktop) {
    max-width: $width-desktop;
    padding: 60px 100px;
  }
}

.form-section__wrapper {
  background-color: $color-grey;
  background-image:
    image-set(
      url("../img/form-mobile@2x.webp") type("image/webp") 2x,
      url("../img/form-mobile.webp") type("image/webp") 1x,
      url("../img/form-mobile@2x.jpg") type("image/jpg") 2x,
      url("../img/form-mobile.jpg") type("image/jpg") 1x,
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 43px 10px 40px;

  @media (min-width: $width-tablet) {
    border-radius: 16px;
    padding: 0;
    background-image:
      image-set(
        url("../img/form-tablet@2x.webp") type("image/webp") 2x,
        url("../img/form-tablet.webp") type("image/webp") 1x,
        url("../img/form-tablet@2x.jpg") type("image/jpg") 2x,
        url("../img/form-tablet.jpg") type("image/jpg") 1x,
      );
  }

  @media (min-width: $width-desktop) {
    background-image:
      image-set(
        url("../img/form-desktop@2x.webp") type("image/webp") 2x,
        url("../img/form-desktop.webp") type("image/webp") 1x,
        url("../img/form-desktop@2x.jpg") type("image/jpg") 2x,
        url("../img/form-desktop.jpg") type("image/jpg") 1x,
      );
  }
}
