.grant {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: $color-blue;

  @media (min-width: $width-tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (min-width: $width-desktop) {
    display: flex;
    gap: 138px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.grant__image {
  display: block;
  border-radius: 16px;
  margin: 0 auto;
  max-width: 290px;

  @media (min-width: $width-tablet) {
    max-width: 678px;
  }

  @media (min-width: $width-desktop) {
    max-width: 498px;
  }
}

.grant__title + p {
  margin: 0;
  padding: 15px 0 30px;
  font-weight: 400;
  color: $color-white;

  @media (min-width: $width-tablet) {
    font-size: 16px;
    width: 498px;
    padding: 30px 0 40px;
  }
}
