.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}

.header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 0;

  @media (min-width: $width-tablet) {
    padding-top: 30px;
  }
}

.header__button {
  position: relative;
  width: 136px;
  min-height: 54px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  color: $color-blue;
  background-color: $color-white;
  border: 1px solid $color-blue;
  border-radius: 30px;
  text-align: left;
  padding: 4px 5px 4px 21px;
  cursor: pointer;
  transition: width 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-blue;
    color: $color-white;
    outline: none;
  }

  &:active {
    color: rgba(255, 255, 255, 0.7);
  }

  &:disabled {
    color: $color-grey;
    border-color: $color-grey;
    pointer-events: none;
  }

  &--activ {
    width: 290px;
    background-color: $color-blue;
    color: $color-white;
    z-index: 10;
  }

  @media (min-width: $width-tablet) {
    min-height: 56px;

    &--activ {
      width: 286px;
    }
  }
}

.header__button:disabled .header__button-icon {
  background-color: $color-grey;
}

.header__button--activ {
  &:hover,
  &:focus,
  &:active {
    background-color: $color-white;
    color: $color-blue;
    outline: none;
  }
}

.header__button--activ .header__button-icon {
  background-color: $color-white;

  &::after {
    background-image: url("../../img/menu-open.svg");
  }
}

.header__button-icon {
  position: absolute;
  top: 4px;
  right: 5px;
  width: 46px;
  height: 46px;
  background-color: $color-blue;
  border-radius: 50%;

  &::after {
    content: "";
    display: block;
    width: 46px;
    height: 46px;
    background-image: url("../../img/menu.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.header__logo:has(+ .header__button--activ) {
  @media (max-width: 767px) {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: $overley-menu;
  }
}

.header__nav {
  position: absolute;
  right: 15px;
  bottom: -4px;
  transform: translateY(100%);
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;

  @media (min-width: $width-tablet) {
    right: 45px;
  }

  @media (min-width: $width-desktop) {
    right: 100px;
  }
}
