.news {
  @media (max-width: 767px) {
    padding-right: 0;
  }
}

.news__title {
  text-align: center;

  @media (max-width: 767px) {
    padding-right: 15px;
  }
}

.news__controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;

  @media (min-width: $width-tablet) {
    padding-top: 30px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 40px;
  }
}

.news__pagination .swiper-pagination-bullet {
  position: relative;
  margin-right: 16px;
  width: 26px;
  height: 26px;
  text-align: center;
  padding: 4px 0;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid transparent;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  color: rgba(49, 109, 194, 1);
  cursor: pointer;
  opacity: 0;
  transform: scale(0);
  transition: left 0.3s ease-in-out;

  &-active {
    background-color: $color-blue;
    color: $color-white;
    font-weight: 500;
    pointer-events: none;
  }

  @media (min-width: $width-tablet) {
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 20px;
    margin-right: 20px;
  }

  @media (min-width: $width-desktop) {
    &-active {
      font-weight: 400;
    }
  }
}

.news__pagination .swiper-pagination-bullet.swiper-bullet--visible {
  transform: scale(1);
  opacity: 0.5;

  &:hover {
    border-color: $color-blue;
    color: $color-blue;
    opacity: 1;
  }

  &:focus {
    border-color: $color-blue;
    color: $color-blue;
    background-color: $color-white;
    outline: none;
    opacity: 1;
  }

  &:active {
    background-color: $color-dark-blue;
    color: $color-white;
    border-color: transparent;
    opacity: 1;
  }
}

.news__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.news__controls .news__pagination.swiper-pagination {
  position: relative;
  overflow: hidden;
  max-width: 152px;
  white-space: nowrap;

  @media (min-width: $width-tablet) {
    max-width: 188px;
  }
}

.news__wrapper {
  @media (max-width: 767px) {
    padding-right: 15px;
  }
}

.news__wrapper .news__swiper-wrapper {
  @media (max-width: 767px) {
    max-height: 590px;
  }
}
