.programs {
  position: relative;

  @media (min-width: $width-tablet) and (max-width: 1439px) {
    padding-right: 0;
  }
}

.programs__swiper {
  margin: 30px 0 74px;

  @media (min-width: $width-tablet) {
    margin: 40px 0;
  }
}

.programs__conteiner {
  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 45px;
  }

  @media (min-width: $width-desktop) {
    padding-right: 0;
  }
}

.programs__wrapper {
  position: relative;
}

.programs__title {
  padding: 5px 0;

  @media (min-width: $width-tablet) and (max-width: 1439px) {
    padding: 3px 0;
  }
}

.programs__swiper-buttons {
  width: fit-content;
  display: flex;
  gap: 8px;

  @media (max-width: 767px) {
    position: absolute;
    right: 0;
    top: -45px;
    transform: translateY(-50%);
  }

  @media (min-width: $width-tablet) {
    gap: 10px;
  }
}

.programs__link {
  width: fit-content;

  @media (max-width: 767px) {
    position: absolute;
    left: 15px;
    bottom: 50px;
    gap: 30px;
    padding-left: 31px;
  }
}

.programs__swiper-controls {
  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.programs__swiper-controls .programs__scrollbar {
  display: none;

  @media (min-width: $width-tablet) {
    position: relative;
    display: block;
    width: 562px;
    height: 2px;
    background-color: rgba(49, 109, 194, 0.2);
  }

  @media (min-width: $width-desktop) {
    width: 1136px;
  }
}

.swiper-scrollbar-drag {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: $color-blue;
}
