.reviews {
  position: relative;

  @media (min-width: $width-tablet) {
    padding-right: 0;
  }

  @media (min-width: $width-desktop) {
    padding-top: 65px;
    padding-right: 100px;
  }
}

.reviews__title {
  padding: 6px 0 4px;
  width: fit-content;

  @media (min-width: $width-tablet) {
    padding: 0;
  }
}

.reviews__swiper {
  margin-top: 30px;

  @media (min-width: $width-tablet) {
    margin: 40px 0;
  }

  @media (min-width: $width-desktop) {
    margin: 45px 0 40px;
  }
}

.reviews__controls {
  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 45px;
  }

  @media (min-width: $width-desktop) {
    padding-right: 0;
  }
}

.reviews__controls .reviews__scrollbar {
  display: none;

  @media (min-width: $width-tablet) {
    position: relative;
    display: block;
    width: 562px;
    height: 2px;
    background-color: rgba(49, 109, 194, 0.2);
  }

  @media (min-width: $width-desktop) {
    width: 1136px;
  }
}

.swiper-scrollbar-drag {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: $color-blue;
}

.reviews__swiper-buttons {
  width: fit-content;
  display: flex;
  gap: 8px;

  @media (max-width: 767px) {
    position: absolute;
    right: 15px;
    top: 65px;
    transform: translateY(-50%);
  }

  @media (min-width: $width-tablet) {
    gap: 10px;
  }
}
