.slide-news {
  border-radius: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $color-grey;

  @media (min-width: $width-tablet) {
    max-width: 324px;
  }

  @media (min-width: $width-desktop) {
    max-width: 286px;
  }
}

.slide-news--big {
  @media (min-width: $width-desktop) {
    min-width: 604px;
  }
}

.slide-news--big .slide-news__wrapper {
  @media (width <= 767px) {
    min-height: 330px;
  }
}

.slide-news__wrapper {
  min-height: 240px;
  display: flex;
  align-items: end;

  @media (min-width: $width-tablet) {
    min-height: 350px;
  }

  @media (min-width: $width-desktop) {
    min-height: 400px;
  }
}

// ФОНЫ
.slide-news--interview {
  background-image:
    image-set(
      url("../img/news-1@2x.webp") type("image/webp") 2x,
      url("../img/news-1.webp") type("image/webp") 1x,
      url("../img/news-1@2x.jpg") type("image/jpg") 2x,
      url("../img/news-1.jpg") type("image/jpg") 1x,
    );
}

.slide-news--journey {
  background-image:
    image-set(
      url("../img/news-2@2x.webp") type("image/webp") 2x,
      url("../img/news-2.webp") type("image/webp") 1x,
      url("../img/news-2@2x.jpg") type("image/jpg") 2x,
      url("../img/news-2.jpg") type("image/jpg") 1x,
    );

  @media (min-width: $width-desktop) {
    background-image:
      image-set(
        url("../img/news-desktop-2@2x.webp") type("image/webp") 2x,
        url("../img/news-desktop-2.webp") type("image/webp") 1x,
        url("../img/news-desktop-2@2x.jpg") type("image/jpg") 2x,
        url("../img/news-desktop-2.jpg") type("image/jpg") 1x,
      );
    background-size: 116%;
  }
}

.slide-news--volunteering {
  background-image:
    image-set(
      url("../img/news-3@2x.webp") type("image/webp") 2x,
      url("../img/news-3.webp") type("image/webp") 1x,
      url("../img/news-3@2x.jpg") type("image/jpg") 2x,
      url("../img/news-3.jpg") type("image/jpg") 1x,
    );

  @media (min-width: $width-desktop) {
    background-image:
      image-set(
        url("../img/news-desktop-3@2x.webp") type("image/webp") 2x,
        url("../img/news-desktop-3.webp") type("image/webp") 1x,
        url("../img/news-desktop-3@2x.jpg") type("image/jpg") 2x,
        url("../img/news-desktop-3.jpg") type("image/jpg") 1x,
      );
  }
}

.slide-news--career {
  background-image:
    image-set(
      url("../img/news-4@2x.webp") type("image/webp") 2x,
      url("../img/news-4.webp") type("image/webp") 1x,
      url("../img/news-4@2x.jpg") type("image/jpg") 2x,
      url("../img/news-4.jpg") type("image/jpg") 1x,
    );

  @media (min-width: $width-desktop) {
    background-image:
      image-set(
        url("../img/news-desktop-4@2x.webp") type("image/webp") 2x,
        url("../img/news-desktop-4.webp") type("image/webp") 1x,
        url("../img/news-desktop-4@2x.jpg") type("image/jpg") 2x,
        url("../img/news-desktop-4.jpg") type("image/jpg") 1x,
      );
  }
}

.slide-news--big.slide-news--interview {
  @media (min-width: $width-desktop) {
    background-image:
      image-set(
        url("../img/news-desktop-big-1@2x.webp") type("image/webp") 2x,
        url("../img/news-desktop-big-1.webp") type("image/webp") 1x,
        url("../img/news-desktop-big-1@2x.jpg") type("image/jpg") 2x,
        url("../img/news-desktop-big-1.jpg") type("image/jpg") 1x,
      );
  }
}

.slide-news--big.slide-news--journey {
  background-image:
    image-set(
      url("../img/news-desktop-big-2.webp") type("image/webp") 1x,
      url("../img/news-desktop-big-2.jpg") type("image/jpg") 1x,
    );
}

.slide-news--big.slide-news--volunteering {
  background-image:
    image-set(
      url("../img/news-desktop-big-3.webp") type("image/webp") 1x,
      url("../img/news-desktop-big-3.jpg") type("image/jpg") 1x,
    );
}

.slide-news--big.slide-news--career {
  background-image:
    image-set(
      url("../img/news-desktop-big-4.webp") type("image/webp") 1x,
      url("../img/news-desktop-big-4.jpg") type("image/jpg") 1x,
    );
}

.slide-news__date {
  position: relative;
  padding: 12px 13px 6px 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  color: $color-blue;
  background-color: $color-background;
  border-radius: 0 12px 0 0;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url("../img/angle-news.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::after {
    top: -16px;
    left: 0;
  }

  &::before {
    bottom: 5px;
    right: -16px;
  }
}

.slide-news__title {
  position: relative;
  padding: 10px 18px 4px 0;
  margin: 0;
  width: 200px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: $color-blue;
  background-color: $color-background;
  border-radius: 0 12px 0 0;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url("../img/angle-news.svg");
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    right: -16px;
  }

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 24px;
    padding: 11px 18px 5px 0;
    width: 207px;
  }

  @media (min-width: $width-desktop) {
    font-size: 24px;
    line-height: 26px;
    padding: 10px 18px 4px 0;
    width: 190px;
  }
}

.swiper-slide-active .slide-news__title {
  @media (min-width: $width-desktop) {
    padding: 18px 18px 6px 0;
    width: 426px;
  }
}

.slide-news__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 263px;
  padding: 13px 10px 9px 0;
  background-color: $color-background;
  border-radius: 0 12px 0 0;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url("../img/angle-news.svg");
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    right: -16px;
  }

  @media (min-width: $width-tablet) {
    padding: 12px 18px 15px 0;
    gap: 16px;
    width: 240px;
  }

  @media (min-width: $width-desktop) {
    width: auto;
    max-width: 244px;
  }
}

.swiper-slide-active .slide-news__description {
  @media (min-width: $width-desktop) {
    width: 468px;
    max-width: 100%;
  }
}

.slide-news__description p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  max-width: 200px;

  @media (min-width: $width-tablet) {
    font-size: 14px;
    line-height: 20px;
    max-width: 176px;
  }

  @media (min-width: $width-desktop) {
    line-height: 18px;
    max-width: 100%;
  }
}

.swiper-slide-active p {
  @media (min-width: $width-desktop) {
    max-width: 404px;
  }
}

.slide-news--volunteering .slide-news__description {
  @media (min-width: $width-desktop) {
    width: 244px;
  }
}
