.tabs__list {
  padding: 24px 0;
  margin: 0;
  list-style: none;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 30px 0;
  }

  @media (min-width: $width-desktop) {
    width: 720px;
    gap: 0;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 0;
  }
}

.tabs__item {
  max-width: fit-content;
}

.tabs__button {
  padding: 12px 14px;
  max-width: fit-content;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: rgba(49, 109, 194, 0.6);
  border: none;
  background-color: transparent;
  cursor: pointer;

  &--activ {
    border: 2px solid $color-blue;
    border-radius: 20px;
    color: $color-blue;
  }

  &:hover {
    color: $color-blue;
  }

  &:focus,
  &:active {
    background-color: $color-white;
    outline: none;
    border-radius: 20px;
    color: $color-blue;
  }

  &:active {
    opacity: 0.5;
  }

  @media (min-width: $width-tablet) {
    padding: 16px 20px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
  }

  @media (min-width: $width-desktop) {
    padding: 16px 0;

    &--activ {
      padding: 16px 33px;
    }

    &:focus {
      padding: 16px 33px;
    }
  }
}
