$color-background: #f0efe9;
$color-blue: #316dc2;
$color-dark-blue: #275699;
$color-primary: #484848;
$color-white: #ffffff;
$color-grey: #a9afb7;
$color-error: #ff5e66;
$overley-image: rgba(49, 109, 194, 0.2);
$overley-menu: rgba(13, 29, 51, 0.4);
$width-tablet: 768px;
$width-desktop: 1440px;
